In [1]:
import pandas as pd
df = pd.read_csv('preprocessed_summary.csv')

In [6]:
#get location coordinates for each street
df1 = pd.Series(df['Destination'].unique()).to_frame()
df1.to_csv('streets.csv')

In [7]:
#locations are added to the streets and saved as streets1

In [8]:
df1 = pd.read_csv('streets1.csv')

In [9]:
df1.head()

   Unnamed: 0                 0   latitude  longitude
0           0      51st_mueller  30.305216 -97.690744
1           1   51st_springdale  30.293568 -97.677838
2           2        51st_manor  30.298136 -97.687058
3           3        51st_us183  30.292349 -97.663495
4           4  springdale_manor  30.293568 -97.677838